.cardlayout {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 600px) {
  .cardlayout {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .cardlayout {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .cardlayout {
      grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1871px) {
  .cardlayout {
      grid-template-columns: repeat(8, 1fr);
  }
}
